-i https://pypi.python.org/simple/
cffi==1.11.5; python_version != '3.3.*'
click==7.0; python_version != '3.3.*'
flask==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
jinja2==2.10
markupsafe==1.0
misaka==2.1.0
pycparser==2.19; python_version != '3.3.*'
pyyaml==3.13
werkzeug==0.14.1
