body {
    background: #eee;
    color: black;
    font-family: sans-serif;
    margin: 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

header.bigheader {
    margin: 3em 1em 2em;
    max-width: none;
    justify-content:center;
}

header:not(.bigheader), .post *, .archive, .categories {
    max-width: 30rem;
    margin-left: auto; margin-right: auto;
}

header:not(.bigheader){
    font-size: 0.5em;
    max-width: 36rem;
}

header:not(.bigheader) img{
    max-height: 3rem;
}

header h1 {
    font-weight: normal;
    font-size: 2em;
}

header h2 {
    font-weight: normal;
    font-size: 1.6em;
    color: rgba(0,0,0,0.5)
}

header {
    display: flex;
    align-items: center;
}

header.name {
    display: flex;
    flex-direction: column;
}

header h1, header h2 {
    flex: 1;
    margin: 0;
    vertical-align: center;
}

header img {
    max-height: 6em;
    vertical-align:middle;
}

a {
    text-decoration: none;
    color: #b33;
}
a:visited {
    color: #c70;
}
a:hover {
    color: #f55;
}

nav {
    text-align: center;
}

.post {
    margin: .9em 0;
    text-align: justify;
    hyphens: auto;
    -moz-hyphens: auto;
}

.post h3 {
    margin: 0 auto;
}

.meta {
    color: rgba(0,0,0,0.4);
    font-size: 0.7em;
    margin: 0 auto;
}

.post > img {
    max-width: 100%;
    display: block;
}

.categories {
    padding: 0;
}

.categories li {
    list-style: none;
    display: inline;
}

.categories li:not(:last-child):after{
    content: ',';
}

.archive {
    padding: 0;
}

.archive li {
    list-style: none;
    margin-bottom: 1em;
    padding-bottom: 0.1em;
}
.archive li a {
    flex: 1;
}
