!!! 5
%html
    %head
        %title codl
        %link(rel="stylesheet" href="/assets/style.css")
        %link(rel="author" href="/humans.txt")
        %meta(name="viewport" content="width=device-width, initial-scale=1")
        %meta(property="twitter:account_id" content="4503599630855454")
        %meta(name="description" content="i'm codl")
    %body
        .container
            %header
                .top/
                .bottom
                    %h1
                        Hi! I'm codl! ✨
                .cath/
            %section
                %p
                    I make things with computers, most notably
                    <a href="http://codl.deviantart.com/">drawings</a> and
                    <a href="https://github.com/codl">software</a> and
                    <a href="https://soundcloud.com/codl">music</a>.
                %p
                    You can reach me at
                    <a href="mailto:codl@codl.fr">codl@codl.fr</a>
                    or on Twitter,
                    <a href="https://twitter.com/codl">@codl</a>.

                %p
                    Shout-outs to the <a href="http://nice.lgbt/">nice lgbt</a> webring
