$text-color: #333;
$accent: #585;

html {
    background: #eee;
    color: $text-color;
    font-family: sans-serif;
    line-height: 1.4em;
}

a {
    color: $accent;
    text-decoration: none;
}

a:visited {
    color: lighten($accent, 15%);
}


em {
    letter-spacing: .3em; // not sure if ch is supported everywhere so, yay fallback
    padding-left: .3em;
    letter-spacing: .5ch;
    padding-left: .5ch;
    font-style: italic;
    text-transform: uppercase;
}

section {
    clear: both;
    max-width: 50em;
    margin: 10em auto;
    position: relative;

    &:before {
        content: "\a7";
        position: absolute;
        left: 11rem;
        width: 0;
        color: $accent;
    }

    h1 {
        float: left;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: normal;
        width: 10rem;
        text-align: right;
    }

    p, ul {
        margin: 2rem 0 2rem 12rem;
    }

    ul {
        padding-left: 0;
    }

    ul li {
        list-style: none;
        position: relative;
        &:before {
            color: $accent;
            content: "\2022";

            position: absolute;
            left: -1em;
        }
        margin: 1em 0;
    }
}

