$text-color: #333;
$accent: #578;

html {
    background: #eee;
    color: $text-color;
    font-family: sans-serif;
    line-height: 1.4em;
}

a {
    color: $accent;
    text-decoration: none;
}

a:visited {
    color: lighten($accent, 15%);
}


em {
    letter-spacing: .3em; // not sure if ch is supported everywhere so, yay fallback
    padding-left: .3em;
    letter-spacing: .5ch;
    padding-left: .5ch;
    font-style: italic;
    text-transform: uppercase;
}

section {
    max-width: 50em;
    margin: 6em auto;
    position: relative;

    h1 {
        padding: 0;
        font-size: 1rem;
        font-weight: normal;
        margin: 2rem;
        text-align: center;
    }

    p, ul {
        margin: 2rem;
    }

    @media screen and (min-width: 650px) {
        clear: both;

        &:before {
            content: "\a7";
            position: absolute;
            left: 9rem;
            width: 0;
            color: $accent;
        }

        h1 {
            margin: 0;
            float: left;
            width: 8rem;
            text-align: right;
        }

        p, ul {
            margin-left: 10rem;
        }
    }

    ul {
        padding-left: 0;
    }

    ul li {
        list-style: none;
        position: relative;
        &:before {
            color: $accent;
            content: "\2022";

            position: absolute;
            left: -1em;
        }
        margin: 1em 0;
    }
}


footer {
    margin: 5em auto;
    max-width: 50em;
    text-align: center;
    svg {
        max-width: 33%;
        path {
            fill: $accent;
            opacity: .1;
        }
    }
}
