* {
    box-sizing: border-box;
}

body {
    color: #332;
    background-color: #fdfdfd;
    margin: 0;
    font-size: 19px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    min-height: 100vh;
}

body p {
    line-height: 1.5em;
}

div.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 3em auto;
    max-width: 46rem;
}

div.main.index {
    max-width: 34rem;
}

div.main, footer {
    padding: 1rem;
}

a {
    color: #d20052;
    text-decoration: none;
    padding: 0.1em 0.2em;
    margin: 0 -0.2em;
}

a:hover {
    background: #e8e0e0;
}

nav {
    border: 1px none rgba(200,0,100,0.4);
    border-top-style: solid;
    border-bottom-style: solid;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav:first-child {
    border-top-style: none;
}

nav:last-child {
    border-bottom-style: none;
}

nav a {
    margin: 0 .2em;
}

nav a:first-of-type {
    margin-left: 0;
}

nav a:last-of-type {
    margin-right: 0;
}

abbr[title] {
    text-decoration: none;
    position: relative;
    margin-right: .5ch;
}

abbr[title]::after {
    content: '?';
    font-size: .7em;
    position: absolute;
    top: -.5em;
    right: -.5em;
}
