<% render 'page' do %>
    <header>
        <img class="avatar" src="/glaceon-icon-cropped-bg.png"/>
        <% if @item[:created_at] %>
        <aside id="date">Written on <%= @item[:created_at] %> <%= @item[:date_addition] %></aside>
        <% end %>
        <h2><%= @item[:title] %></h2>
        <% if @item[:tags] %>
        <aside id="subtitle">Tagged <%= taglist @item[:tags] %></aside>
        <% elsif @item[:subtitle] %>
        <aside id="subtitle"><%= @item[:subtitle] %></aside>
        <% end %>
    </header>
    <%= yield %>
    <footer>
        <% if @item[:kind] == "article" %>
        <a href="/archive/">&lt Archive</a>
        <br/>
        <% end %>
        <a href="/">&lt Home</a>
    </footer>
<% end %>
