<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= @item[:title] %></title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="author" href="/humans.txt" />

    <% if not @item[:style].nil? %>
    <link rel="stylesheet" href="/custom_styles/<%= @item[:style] %>.css" />
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-54493233-1', {'siteSpeedSampleRate': 25});
        ga('require', 'linkid', 'linkid.js');
        ga('send', 'pageview');
    </script>
    <meta property="twitter:account_id" content="4503599630855454" />
</head>
<body>

    <%= yield %>
</body>
</html>
