* {
    z-index: 1;
}

body {
    color: #332;
    background-color: #fdfdfd;
    margin: 0;
    font-size: 19px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    min-height: 100vh;
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
}

body p {
    line-height: 1.5em;
}

div.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3em 0;
}

div.main, footer {
    padding: 1rem;
}

a {
    color: #d20052;
    text-decoration: none;
}

a:visited {
    color: #d85387;
}

em.codl {
    background-image: linear-gradient(-30deg, #f30, #f0a);
    color: white;
    font-style: normal;
    padding: 0.1em 0.2em;
}
