* {
    z-index: 1;
}

body {
    color: #332;
    background-color: #fdfdfd;
    margin: 0;
    font-size: 19px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

body > *:only-child {
    margin-top: auto;
    margin-bottom: auto;
}

body > * > * {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 34rem;
}

a {
    color: #d20052;
    text-decoration: none;
}

a:visited {
    color: #d85387;
}

section {
    line-height: 1.5em;
}

section ul {
    list-style: none;
}

blockquote cite {
    text-align: right;
    display: block;
    font-style: italic;
}

blockquote cite em {
    font-style: normal;
}

em.codl {
    background-image: linear-gradient(to top left, red, magenta);
    color: white;
    font-style: normal;
    padding: 0.1em 0.2em;
}
