{% extends "layout/default.html" %}
{% block body %}
<ul>
    <li>a computer wrangler</li>
    <li>from Quimper, France</li>
    <li>likes: friends, making things, the sound of flowing water, rhythm games, driving, being online, being offline</li>
    <li>occupations: <a href="https://codl.deviantart.com/" rel="me">casual illustrator</a>, <a href="https://github.com/codl" rel="me">rogue software developer</a></li>
    <li>they can be reached at <a href="mailto:hey@codl.fr" rel="me">hey@codl.fr</a></li>
    <li>also <a href="https://twitter.com/codl" rel="me">@codl</a> on twitter</li>
    <li>and <a href="https://ephemeral.glitch.social/@codl" rel="me">codl@ephemeral.glitch.social</a>, when the moon allows it</li>

{% endblock %}
