<!doctype html>
<html lang=en>
    <head>
        {% if title -%}
            <title>{{ title }} • codl</title>
        {%- else -%}
            <title>codl</title>
        {%- endif %}
        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script async src="https://beacon.codl.fr/s"></script>
    </head>
    <body>
        <header>
            {% if pages -%}
                {% for page in pages -%}
                    <a rel="{{page.rel}}" href="{{page.href}}">{{page.title}}</a>
                {% endfor -%}
            {% endif %}
            <h1>{{ title or "codl" }}</h1>
        </header>
        <section>
            {% block body %}
            {% endblock %}
        </section>
    </body>
</html>
