<!doctype html>
<html lang=en>
    <head>
        {% if title -%}
            <title>{{ title }} • codl</title>
        {%- else -%}
            <title>codl</title>
        {%- endif %}
        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"/>
        <link rel="icon"
              href="{{ url_for('static', filename='icon.png') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script async src="https://beacon.codl.fr/s"></script>
    </head>
    <body>
        <div class="main">
            <section>
                {% block body %}
                {% endblock %}
            </section>
        </div>
        <footer>
            <figure class="testimonial">
                <blockquote>{{ testimonial.body }}</blockquote>
                <figcaption>— <cite>
                    {% if testimonial.uri -%}
                        <a href="{{testimonial.uri}}">{{ testimonial.author }}</a>
                    {% else -%}
                        {{ testimonial.author }}
                    {%- endif %}
                    </cite> on codl
                    <aside><a href="https://chitter.xyz/@codl/99033327175116160">Send your testimonials</a></aside>
                </figcaption>
            </figure>
        </footer>
    </body>
</html>
